<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Kaplan B. Referencias</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Personal%20B/Kaplan-B.-_1_.ico">
    
</head>

<center>
  <br>
  <figure class="image is-128x128">
    <img class="is-rounded is-success" src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.gif?raw=true" alt="Kaplan B. Logo">
  </figure>
  <br>
</center>

<!-- MENU - ESTILO:TABS -->

<div class="tabs is-centered is-boxed">
  <ul>
    <li class="">
      <a href="/index">
        <span class="icon is-small"><i class="fas fa-home" aria-hidden="false"></i></span>
        <span class="link is-info">Inicio</span>
      </a>
    </li>
    <li>
      <a href="/docker">
        <span class="icon is-small"><i class="fas fa-train" aria-hidden="false"></i></span>
        <span>Docker</span>
      </a>
    </li>
    <li>
      <a href="/ubuntu">
        <span class="icon is-small"><i class="fas fa-flag-checkered" aria-hidden="false"></i></span>
        <span>Ubuntu</span>
      </a>
    </li>
    <li>
      <a href="/referencias">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Referencias</span>
      </a>
    </li>
  </ul>
</div>


<!-- HERO - CABECERA -->

<section class="hero is-small" style="background-color: #6567C6">
  <div class="hero-body">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-four-fifths">
        <p class="title" style="color:#FFFFFF">
          Referencias
        </p>
        <p class="subtitle" style="color:#FFFFFF">
          ¡Formato APA!
        </p>
      </div>
      <div class="column"></div>
    </div>
    </div>
  </div>
</section>


<!-- HERO - CONTENT -->

<section class="hero is-light is-small">
  <div class="hero-body">

    <div class="columns">
      
      <div class="column">
      </div>

      <div class="column is-three-quarters">
      
        <div class="card">
          <div class="card-content">
            <p class="is-centered">
            <ul>
              <br>
              <li>
                     Marcè, C. (2020, 3 noviembre). Introducción a los containers. ICOT. https://www.icot.es/introduccion-a-los-containers/#:%7E:text=
                     El%20concepto%20de%20container%2C%20aplicado,mismo%20n%C3%BAcleo%20de%20sistema%20operativo.&text=En%20ella%2C%20se%20comparte
                     %20un%20mismo%20hardware%20entre%20diversos%20sistemas%20operativos.
              </li>
              <br>

              <li>
                Microsoft Azure. (s. f.). ¿Qué es un contenedor? | Microsoft Azure. https://azure.microsoft.com/es-mx/overview/what-is-a-container/              
              </li>
              <br>

              <li>
                Amazon Web Services, Inc. (s. f.). Contenedores de Docker | ¿Qué es Docker? | AWS. https://aws.amazon.com/es/docker/              
              </li>
              <br>

              <li>
                Gobierno De Canarias. (s. f.). Ubuntu Linux. https://www3.gobiernodecanarias.org/medusa/ecoescuela/seguridad/ciudadania-y-seguridad-tic/principios-legales/software-libre/ubuntu-linux/#:%7E:text=Ubuntu%20es%20una%20distribuci%C3%B3n%20GNU,Actualizaciones%20frecuentes              
              </li>
              <br>

              <li>
                Colaboradores de Wikipedia. (2021, 4 mayo). Ubuntu. Wikipedia, la enciclopedia libre. https://es.wikipedia.org/wiki/Ubuntu               
              </li>
              <br>
            </ul>
          </p>
         
          </div>
        </div>

      </div>
      
      <div class="column ">
      </div>

    </div>
</div>
</section>

    



<!-- PIE DE PAGINA -->

<footer class="footer is-white" style="background-color: #6567C6">
    <nav class="content is-fullwidth has-text-centered">
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

          <div class="columns">
            
            <div class="column is-three-fifths">
              <a class="has-text-weight-bold" href="/index">
                <img src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.%20V..gif?raw=true" width="180" height="180" alt="Kaplan B. Logo">
              </a>
            </div>
            
            <div class="column" style="color:#FFFFFF">
              Plataforma creada con 
              <b><a href="https://bulma.io/" style="color:#FFFFFF">Bulma.<br></a></b>
              Hernandez Diaz Maria del Carmen 
              <br> Matricula: <b>1718110389</b>
              <br> Actividad: 1.2 Introducción A Docker
              <br> Correo electronico: 1718110389@utectulancingo.edu.mx
            </div>
            
            <div class="column"></div>
          </div>

            
    </nav>
</footer>

</html>