<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Kaplan B. Docker</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Personal%20B/Kaplan-B.-_1_.ico">
    
</head>

<center>
  <br>
  <figure class="image is-128x128">
    <img class="is-rounded is-success" src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.gif?raw=true" alt="Kaplan B. Logo">
  </figure>
  <br>
</center>

<!-- MENU - ESTILO:TABS -->

<div class="tabs is-centered is-boxed">
  <ul>
    <li class="">
      <a href="/index">
        <span class="icon is-small"><i class="fas fa-home" aria-hidden="false"></i></span>
        <span class="link is-info">Inicio</span>
      </a>
    </li>
    <li>
      <a href="/docker">
        <span class="icon is-small"><i class="fas fa-train" aria-hidden="false"></i></span>
        <span>Docker</span>
      </a>
    </li>
    <li>
      <a href="/ubuntu">
        <span class="icon is-small"><i class="fas fa-flag-checkered" aria-hidden="false"></i></span>
        <span>Ubuntu</span>
      </a>
    </li>
    <li>
      <a href="/referencias">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Referencias</span>
      </a>
    </li>
  </ul>
</div>


<!-- HERO - CABECERA -->

<section class="hero is-small" style="background-color: #6567C6">
  <div class="hero-body">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-four-fifths">
        <p class="title" style="color:#FFFFFF">
          ¿Qué es Docker?
        </p>
        <p class="subtitle" style="color:#FFFFFF">
          ¡Descubrámoslo juntos!
        </p>
      </div>
      <div class="column"></div>
    </div>
    </div>
  </div>
</section>


<!-- HERO - CONTENT -->

<section class="hero is-light is-small">
  <div class="hero-body">

    <div class="columns">
      
      <div class="column">
      </div>

      <div class="column is-three-quarters">
      
        <div class="card">
          <div class="card-content">
            De acuerdo con la investigación del autor Amazon Web Services, Inc. (s. f.).
            Docker es una plataforma de software que le permite crear, probar e implementar aplicaciones rápidamente. 
            Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario para que el
            software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución. Con Docker, puede 
            implementar y ajustar la escala de aplicaciones rápidamente en cualquier entorno con la certeza de saber que su código 
            se ejecutará.
          </div>
        </div>

      </div>
      
      <div class="column ">
      </div>

    </div>


    <div class="columns">

      <div class="column is-2">
      </div>
      
      <div class="column">

        <br><br><br>
        <div class="card">
          <div class="card-content">
            <br>

            <b>¿Por qué usar Docker?</b>
            
            <br><br>

            Docker le permite entregar código con mayor rapidez, estandarizar las operaciones de las aplicaciones, transferir el código con 
            facilidad y ahorrar dinero al mejorar el uso de recursos. Con Docker, obtiene un solo objeto que se puede ejecutar de manera fiable
            en cualquier lugar. La sintaxis sencilla y simple de Docker le aporta un control absoluto. La amplia adopción significa que existe 
            un gran ecosistema de herramientas y aplicaciones listas para su uso que puede utilizar con Docker.

            <br><br>

            
          </div>
        </div>

      </div>
      
      <div class="column">

        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Practicas/docker-logo.webp" alt="Docker image">
            </figure>
          </div>
        </div>
</div>
        <div class="column is-2">
        </div>
        
    </div>

    </div>
  </div>

  <div class="hero-body">

    <div class="columns">
      
      <div class="column">
      </div>

      <div class="column is-three-quarters">
      
        <div class="card">
          <div class="card-content">
            <b>¿Cuándo usar Docker?</b>
            <br>
            <br>
            Puede utilizar los contenedores de Docker como bloque de construcción principal a la hora de crear aplicaciones y plataformas modernas.
            Docker facilita la creación y la ejecución de arquitecturas de microservicios distribuidos, la implementación de código con 
            canalizaciones de integración y entrega continuas estandarizadas, la creación de sistemas de procesamiento
            de datos altamente escalables y la creación de plataformas completamente administradas para sus desarrolladores.
          </div>
        </div>

      </div>
      
      <div class="column ">
      </div>

    </div>



</section>



<!-- PIE DE PAGINA -->

<footer class="footer is-white" style="background-color: #6567C6">
    <nav class="content is-fullwidth has-text-centered">
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

          <div class="columns">
            
            <div class="column is-three-fifths">
              <a class="has-text-weight-bold" href="/index">
                <img src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.%20V..gif?raw=true" width="180" height="180" alt="Kaplan B. Logo">
              </a>
            </div>
            
            <div class="column" style="color:#FFFFFF">
              Plataforma creada con 
              <b><a href="https://bulma.io/" style="color:#FFFFFF">Bulma.<br></a></b>
              Hernandez Diaz Maria del Carmen 
              <br> Matricula: <b>1718110389</b>
              <br> Actividad: 1.2 Introducción A Docker
              <br> Correo electronico: 1718110389@utectulancingo.edu.mx
            </div>
            
            <div class="column"></div>
          </div>

            
    </nav>
</footer>

</html>