<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>Kaplan B. Ubuntu</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Personal%20B/Kaplan-B.-_1_.ico">
    
</head>

<center>
  <br>
  <figure class="image is-128x128">
    <img class="is-rounded is-success" src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.gif?raw=true" alt="Kaplan B. Logo">
  </figure>
  <br>
</center>

<!-- MENU - ESTILO:TABS -->

<div class="tabs is-centered is-boxed">
  <ul>
    <li class="">
      <a href="/index">
        <span class="icon is-small"><i class="fas fa-home" aria-hidden="false"></i></span>
        <span class="link is-info">Inicio</span>
      </a>
    </li>
    <li>
      <a href="/docker">
        <span class="icon is-small"><i class="fas fa-train" aria-hidden="false"></i></span>
        <span>Docker</span>
      </a>
    </li>
    <li>
      <a href="/ubuntu">
        <span class="icon is-small"><i class="fas fa-flag-checkered" aria-hidden="false"></i></span>
        <span>Ubuntu</span>
      </a>
    </li>
    <li>
      <a href="/referencias">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Referencias</span>
      </a>
    </li>
  </ul>
</div>


<!-- HERO - CABECERA -->

<section class="hero is-small" style="background-color: #6567C6">
  <div class="hero-body">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-four-fifths">
        <p class="title" style="color:#FFFFFF">
          ¿Qué es un Ubuntu?
        </p>
        <p class="subtitle" style="color:#FFFFFF">
          ¡Descubrámoslo juntos!
        </p>
      </div>
      <div class="column"></div>
    </div>
    </div>
  </div>
</section>


<!-- HERO - CONTENT -->

<section class="hero is-light is-small">
  <div class="hero-body">

    <div class="columns">
      
      <div class="column">
      </div>

      <div class="column is-three-quarters">
      
        <div class="card">
          <div class="card-content">
            Según Colaboradores de Wikipedia. (2021, 4 mayo). Es un sistema operativo de software libre y código abierto. 
            Es una distribución de Linux basada en Debian. Puede correr en computadores de escritorio y servidores. 
            De acuerdo con el Gobierno De Canarias. (s. f.).
            Ubuntu es una distribución GNU/Linux que ofrece un interesante sistema operativo para equipos de escritorio y servidores en el ámbito educativo.
          </div>
        </div>

      </div>
      
      <div class="column ">
      </div>

    </div>


    <div class="columns">

      <div class="column is-2">
      </div>
      
      <div class="column">

        <br>
        
        <div class="card">
          <div class="card-content">
          
            El término “Ubuntu” proviene del zulú y significa “humanidad hacia otros” o bien “yo soy porque nosotros somos”. 
            Precisamente su slogan “Linux para seres humanos” pretende enfatizar esa facilidad de manejo. 
            <br>
            <br>
            Está patrocinado por Canonical Ltd. Se trata de una compañía británica privada fundada y financiada por el empresario 
            sudafricano Mark Shuttleworth. Esta empresa ofrece Ubuntu de forma libre y gratuita aprovechando las aportaciones de los 
            desarrolladores de una amplia comunidad a nivel mundial. En lugar de lucrarse por la distribución del sistema, su financiación
            se obtiene del soporte técnico. La versión estable más reciente es Ubuntu 14.04 porque fue publicada en abril 04 del año 2014.
            Fue bautizada con el nombre clave “Trusty Tahr”. Es una versión LTS con soporte extendido para 5 años para
            equipos de escritorio y para servidores. 

            <br>
          </div>
        </div>

      </div>
      
      <div class="column">

        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="https://raw.githubusercontent.com/MariaDelCarmenHernandezDiaz/Recursos-Test/main/Practicas/ubuntu-logo.webp" alt="Container image">
            </figure>
          </div>
        </div>
</div>
        <div class="column is-2">
        </div>
        
    </div>

    </div>
  </div>

</section>



<!-- PIE DE PAGINA -->

<footer class="footer is-white" style="background-color: #6567C6">
    <nav class="content is-fullwidth has-text-centered">
        
          <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL -->

          <div class="columns">
            
            <div class="column is-three-fifths">
              <a class="has-text-weight-bold" href="/index">
                <img src="https://github.com/MariaDelCarmenHernandezDiaz/Recursos-Test/blob/main/Personal%20B/Kaplan%20B.%20V..gif?raw=true" width="180" height="180" alt="Kaplan B. Logo">
              </a>
            </div>
            
            <div class="column" style="color:#FFFFFF">
              Plataforma creada con 
              <b><a href="https://bulma.io/" style="color:#FFFFFF">Bulma.<br></a></b>
              Hernandez Diaz Maria del Carmen 
              <br> Matricula: <b>1718110389</b>
              <br> Actividad: 1.2 Introducción A Docker
              <br> Correo electronico: 1718110389@utectulancingo.edu.mx
            </div>
            
            <div class="column"></div>
          </div>

            
    </nav>
</footer>

</html>